.App{
  margin-top: 20px;
  text-align: center;
}

.App li {
  list-style: none;
}

.App input{
  margin: 10px;
}

.add-btn{
  font-size: 18px !important;
}

.select-form{
  width: 50px;  
  font-size: 26px;
  padding-bottom: 10px;
  border: none;
}

.form-in{
  margin: 10px !important;
  border-width: 1px !important;
  padding-bottom: 10px !important;
}

.btn{
  padding-top: 6px;
  padding-bottom: 6px;
}

.App button{
  margin: 2px;
  font-size: 16px;
}

.result-tab{
  font-size: 26px;
}

